<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734847631308-n0j87gpo1tui9rtdf8054q0gafndasns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734847631308-n0j87gpo1tui9rtdf8054q0gafndasns</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>734847631308-cp4f578vpv2m4np56or5id0rknikfu5v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCX_a7bu2NygqDkSFyArtwhiea4ibwkyzI</string>
	<key>GCM_SENDER_ID</key>
	<string>734847631308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cristianalvarez.flutterauthapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-singin-a1f9f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-singin-a1f9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734847631308:ios:ce8516e7c6ebdef5c86769</string>
</dict>
</plist>